/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.tech-container {
    width: 100%;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #f1f1f1;
}

.tech-row-one {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row-one-card-one {
    width: 25%;
    height: 80%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #ff305b;
    border-radius: 3px 3px 3px 3px;
}

#html {
    font-size: 55px;
}

.row-one-card-two {
    width: 25%;
    height: 80%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #ff305b;
    border-radius: 3px 3px 3px 3px;
}

#css {
    font-size: 55px;
}

.row-one-card-three {
    width: 25%;
    height: 80%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #ff305b;
    border-radius: 3px 3px 3px 3px;
}

#js {
    font-size: 55px;
}

.tech-row-two {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#react {
    font-size: 55px;
}

#node {
    font-size: 55px;
}

#postgres {
    font-size: 55px;
}

.tech-row-three {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#git {
    font-size: 55px;
}

#API {
    font-size: 55px;
}

#mobile {
    font-size: 55px;
}

@media (min-width: 1024px){
    .tech-container {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .tech-row-one {
        width: 100%;
        height: 22vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .row-one-card-one {
        width: 15%;
        height: 80%;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        color: #ff305b;
        border-radius: 3px 3px 3px 3px;
    }

    .row-one-card-one:hover {
        /* width: 17%;
        height: 85%; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #252525;
        color: #f1f1f1;
        transform: scale(1.1);
    }
    
    #html {
        font-size: 55px;
    }
    
    .row-one-card-two {
        width: 15%;
        height: 80%;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        color: #ff305b;
        border-radius: 3px 3px 3px 3px;
        margin: 0 5%;
    }

    .row-one-card-two:hover {
        /* width: 17%;
        height: 85%; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #252525;
        color: #f1f1f1;
        transform: scale(1.1);
    }
    
    #css {
        font-size: 55px;
    }
    
    .row-one-card-three {
        width: 15%;
        height: 80%;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        color: #ff305b;
        border-radius: 3px 3px 3px 3px;
    }

    .row-one-card-three:hover {
        /* width: 17%;
        height: 85%; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #252525;
        color: #f1f1f1;
        transform: scale(1.1);
    }
    
    #js {
        font-size: 55px;
    }
    
    .tech-row-two {
        width: 100%;
        height: 22vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #react {
        font-size: 55px;
    }
    
    #node {
        font-size: 55px;
    }
    
    #postgres {
        font-size: 55px;
    }
    
    .tech-row-three {
        width: 100%;
        height: 22vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #git {
        font-size: 55px;
    }
    
    #API {
        font-size: 55px;
    }
    
    #mobile {
        font-size: 55px;
    }
}