/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.portfolio-two-container {
    width: 100%;
    height: 85vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.icon-container {
    height: 50vh;
    width: 100%;
    position: relative;
}

#desktop {
    position: absolute;
    font-size: 250px;
    left: 12%;
    top: 15%;
    color: #757575;
}

#tablet {
    position: absolute;
    font-size: 135px;
    top: 53%;
    right: 5%;
    
}

#portfolio-mobile {
    position: absolute;
    font-size: 110px;
    top: 60%;
    left: 6%;
}

.project-link-container {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-link-container > p {
    color: #f1f1f1;
    text-align: center;
    font-size: 18px;
    width: 85%;
    margin-top: 10%;
    line-height: 125%;
}

.project-link-container > button {
    background-color: #ff305b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px 4px 4px 4px;
    outline: none;
    margin-top: 10%;
}

@media (min-width: 1024px) {
    .portfolio-two-container {
        width: 100%;
        height: 50vh;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .icon-container {
        height: 50vh;
        width: 100%;
        position: relative;
    }
    
    #desktop {
        position: absolute;
        font-size: 300px;
        left: 20%;
        top: 5%;
        color: #757575;
    }
    
    #tablet {
        position: absolute;
        font-size: 150px;
        top: 40%;
        right: 22%;
        
    }
    
    #portfolio-mobile {
        position: absolute;
        font-size: 120px;
        top: 47%;
        left: 14%;
    }
    
    .project-link-container {
        height: 35vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .project-link-container > p {
        color: #f1f1f1;
        text-align: center;
        font-size: 20px;
        width: 85%;
        margin-top: 5%;
        line-height: 150%;
    }
    
    .project-link-container > button {
        font-size: 20px;
        padding: 20px 55px;
        margin-top: 8%;
    }

    .project-link-container > button:hover {
        background-color: #cc264b;
    }
}