/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.portfolio-container {
    width: 100%;
    height: 10vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    color: #ff305b;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1024px){
    .portfolio-container {
        height: 15vh;
    }
}