/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.portfolio-container {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: #1a1a1a;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    background-color: #eee;
}

.portfolio-container > h1 {
    margin-left: -26%;
}

@media (min-width: 1024px){
    .portfolio-container {
        height: 20vh;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
    }

    .portfolio-container > h1 {
        margin-left: -52%;
        letter-spacing: 5px;
    }
}