/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.skills-container {
    width: 100%;
    height: 115vh;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

.services-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container > h1 {
    font-size: 35px;
    color: #ff305b;
    margin-top: 10%;
}

.services-container > hr {
    margin-top: 10%;
}

.services-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.front-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    border-radius: 5px 5px 5px 5px;
}

.front-end-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin-top: 10%;
}

.front-end-container > h1 {
    font-size: 22px;
    color: #ff305b;
    margin-top: 5%;
}

.front-end-container > p {
    text-align: center;
    margin: 0 3%;
    margin-top: 5%;
    color: #757575;
}

.back-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    border-radius: 5px 5px 5px 5px;
}

.back-end-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin-top: 10%;
}

.back-end-container > h1 {
    font-size: 22px;
    color: #ff305b;
    margin-top: 5%;
}

.back-end-container > p {
    text-align: center;
    margin: 0 3%;
    margin-top: 5%;
    color: #757575;
}

.endpoint-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    border-radius: 5px 5px 5px 5px;
}

.endpoint-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    margin-top: 10%;
}

.endpoint-container > h1 {
    font-size: 22px;
    color: #ff305b;
    margin-top: 5%;
}

.endpoint-container > p {
    text-align: center;
    margin: 0 3%;
    margin-top: 5%;
    color: #757575;
}

@media (min-width: 1024px){
    .skills-container {
        height: 60vh;
    }
    
    .services-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services-container > h1 {
        font-size: 35px;
        margin-top: 5%;
    }
    
    .services-container > hr {
        margin-top: 2%;
        width: 10%;
    }
    
    .services-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        width: 90%;

    }

    .front-end-container:hover {
        background-color: #252525;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .front-end-container:hover > .front-end-icon {
        font-size: 50px;
    }

    .back-end-container:hover {
        background-color: #252525;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .back-end-container:hover > .back-end-icon {
        font-size: 50px;
    }

    .endpoint-container:hover {
        background-color: #252525;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .endpoint-container:hover > .endpoint-icon {
        font-size: 50px;
    }

    
    .front-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        border-radius: 4px 4px 4px 4px;
        background-color: #1a1a1a;
    }
    
    .front-end-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
        margin-top: 10%;
        color: white;
    }
    
    .front-end-container > h1 {
        font-size: 22px;
        color: #ff305b;
        margin-top: 5%;
    }
    
    .front-end-container > p {
        text-align: center;
        margin: 0 3%;
        margin-top: 5%;
        color: #757575;
    }
    
    .back-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        border-radius: 4px 4px 4px 4px; 
        background-color: #1a1a1a;
   }
    
    .back-end-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
        margin-top: 10%;
        color: white;
    }
    
    .back-end-container > h1 {
        font-size: 22px;
        color: #ff305b;
        margin-top: 5%;
    }
    
    .back-end-container > p {
        text-align: center;
        margin: 0 3%;
        margin-top: 5%;
        color: #757575;
    }
    
    .endpoint-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        border-radius: 4px 4px 4px 4px;
        background-color: #1a1a1a;
    }
    
    .endpoint-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 40px;
        margin-top: 10%;
        color: white;
    }
    
    .endpoint-container > h1 {
        font-size: 22px;
        color: #ff305b;
        margin-top: 5%;
    }
    
    .endpoint-container > p {
        text-align: center;
        margin: 0 3%;
        margin-top: 5%;
        color: #757575;
    }

}
