/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


.skills-container {
    width: 100%;
    height: 130vh;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.services-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container > h1 {
    font-size: 40px;
    color: #ff305b;
    margin-top: 15%;
}

.services-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.front-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    margin-bottom: 10%;
}

.back-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10%;
}


.endpoint-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    border-radius: 5px 5px 5px 5px;
}


@media (min-width: 1024px){
    .skills-container {
        height: 70vh;
        width: 80%;
        margin: 0 auto;
    }
    
    .services-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services-container > h1 {
        font-size: 40px;
        margin-top: 4%;
    }
    
    .services-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        width: 90%;
    }
    
    .front-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        margin-bottom: 5%;
    }
    
    .back-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        border-radius: 4px 4px 4px 4px; 
        background-color: #1a1a1a;
        margin-bottom: 5%;
   }
    
    .endpoint-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 35vh;
        border-radius: 4px 4px 4px 4px;
        background-color: #1a1a1a;
        margin-bottom: 5%;
    }

}
