/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


.skills-container {
    width: 100%;
    height: 130vh;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.services-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container > h1 {
    font-size: 40px;
    color: #ff305b;
    margin-top: 15%;
}

.services-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.front-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    margin-bottom: 10%;
}

.back-end-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
    margin-bottom: 10%;
}


.design-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30vh;
}


@media (min-width: 1024px){
    .skills-container {
        height: 75vh;
        width: 83%;
        margin: 0 auto;
    }
    
    .services-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services-container > h1 {
        font-size: 40px;
        margin-top: 2%;
        margin-left: -75%;
    }
    
    .services-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        width: 90%;
    }
    
    .front-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 45vh;
        margin-bottom: 5%;
        box-shadow: 0 0 10px #ccc;
        transition: all .5s ease;
    }

    .front-end-container:hover {
        background-color: #eee;
        box-shadow: none;
    }

    .front-end-header {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
    }

    .front-end-header #front-header-one {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .front-end-header #front-header-two {
        height: 70%;
        width: 25%;
        background: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        color: white;
    }

    .front-end-header #front-header-three {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .front-end-container > h1 {
        font-size: 20px;
        color: #1a1a1a;
        margin-top: 10%;
    }

    .front-end-container > p {
        color: #757575;
        line-height: 175%;
        text-align: left;
        width: 80%;
        margin-top: 10%;
    }
    
    .back-end-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 45vh;
        margin-bottom: 5%;
        box-shadow: 0 0 10px #ccc;
        transition: all .5s ease;
   }

   .back-end-container:hover {
    background-color: #eee;
    box-shadow: none;
    }

    .back-end-header {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
    }

    .back-end-header #back-header-one {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .back-end-header #back-header-two {
        height: 70%;
        width: 25%;
        background: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        color: white;
    }

    .back-end-header #back-header-three {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .back-end-container > h1 {
        font-size: 20px;
        color: #1a1a1a;
        margin-top: 10%;
    }

    .back-end-container > p {
        color: #757575;
        line-height: 175%;
        text-align: left;
        width: 80%;
        margin-top: 10%;
    }
    
    .design-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 45vh;
        margin-bottom: 5%;
        box-shadow: 0 0 10px #ccc;
        transition: all .5s ease;
    }

    .design-container:hover {
        background-color: #eee;
        box-shadow: none;
    }
    
    .design-header {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
    }

    .design-header #design-header-one {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .design-header #design-header-two {
        height: 70%;
        width: 25%;
        background: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        color: white;
    }

    .design-header #design-header-three {
        height: 3%;
        width: 20%;
        background: #1a1a1a;
    }

    .design-container > h1 {
        font-size: 20px;
        color: #1a1a1a;
        margin-top: 10%;
    }

    .design-container > p {
        color: #757575;
        line-height: 175%;
        text-align: left;
        width: 80%;
        margin-top: 10%;
    }

}
