/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.about-container {
    width: 100vw;
    height: 145vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    z-index: 4;
    background: white;
    overflow: hidden;
    position: relative;
}

.img-container {
    height: 50vh;
    width: 90%;
    background-image: url('../../assets/profile-picture.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -80px;
    /* border-radius: 4px 4px 4px 4px; */
    z-index: 2;
    margin-top: 15%;
}

.personal-bio-container {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    color: #757575;
}

.personal-bio-container > h1 {
    font-size: 40px;
    color: #1a1a1a;
    margin-left: 5%;
    margin-top: 10%;
}

.personal-bio-container > p {
    font-size: 16px;
    line-height: 130%;
    margin-left: 5%;
    margin-top: 10%;
}

@media (min-width: 1024px){
    .about-container {
        width: 80%;
        height: 65vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .img-container {
        height: 50vh;
        width: 40%;
        background-image: url('../../assets/profile-picture.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -150px;
        margin-top: 2%;
        margin-left: 2%;
    }
    
    .about-split-container {
        height: 100%;
        width: 45%;
    }

    .personal-bio-container {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 18%;
    }
    
    .personal-bio-container > h1 {
        font-size: 40px;
        color: #1a1a1a;
        margin-left: 0;
        margin-top: 5%;
        letter-spacing: 3px;
    }
    
    .personal-bio-container > p {
        font-size: 16px;
        line-height: 150%;
        margin-top: 5%;
        margin-left: 0;
    }
}