/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.contact-container {
    width: 100%;
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.contact-info {
    width: 87%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contact-info > h1 {
    font-size: 35px;
    color: #1a1a1a;
    margin-top: 10%;
}

.contact-info > h2 {
    font-size: 22px;
    margin-top: 10%;
}

.contact-info > h3 {
    font-size: 18px;
    margin-top: 3%;
    color: #757575;
}

.contact-social {
    width: 87%;
    height: 10vh;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 45px;
}

.contact-social > a {
    color: #1a1a1a;
    margin-right: 5%;
}

.form-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.name-email-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name-email-container > input {
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    border: 2px solid #1a1a1a;
    outline: none;
}

.form-container > input {
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    border: 2px solid #1a1a1a;
    outline: none;
    margin-top: 2%;
}

.form-container > textarea {
    width: 90%;
    height: 200px;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 5px;
    border: 2px solid #1a1a1a;
    outline: none;
    margin-top: 5%;
}

.form-container > button {
    background-color: #1a1a1a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 7%;
    margin-left: -41%;
    outline: none;
    border: 2px solid #1a1a1a;
}

#message {
    margin-right: 10px;
}

@media (min-width: 1024px){
    .contact-container {
        width: 73%;
        height: 60vh;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    .contact-info {
        width: 87%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    .contact-info > h1 {
        letter-spacing: 5px;
    }
    
    .contact-info > h2 {
        margin-top: 8%;
    }
    
    .contact-social > a:hover {
        transform: scale(1.1);
        color: #757575;
    }
    
    .form-container {
        height: 45vh;
        margin-top: 3%;
    }
    
    
    .name-email-container > input {
        height: 50px;
    }
    
    .form-container > textarea {
        height: 200px;
        margin-top: 2%;
    }
    
    .form-container > button {
        background-color: #1a1a1a;
        color: white;
        margin-top: 5%;
        margin-left: -57%;
        transition: all .3s ease;
    }

    .form-container > button:hover {
        background-color: transparent;
        color: #1a1a1a;
    }
}