/* Nav Bar */
.full-screen-nav-list {
    display: none;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.nav-bar > h1 {
    font-size: 25px;
    margin-left: 10%;
    margin-top: 6.5%;
    color: #ff305b;
}

/* Nav Drop Down */
.patty-container {
    height: 30%;
    width: 8%;
    margin-top: 7%;
    margin-right: 10%;
}

.drop-down-patty {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patty-bar {
    width: 100%;
    height: 15%;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
}

.dropDownTrue {
    width: 99.8%;
    height: 50vh;
    position: absolute;
    background-color: transparent;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: dropDown .3s;
    z-index: 5;
    left: 0;
}

.dropDownTrue > ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
}

.dropDownTrue > ul > a {
    text-decoration: none;
}

.dropDownTrue > ul > a > li {
    height: 100%;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropDownFalse {
    display: none;
}

@media(min-width: 1024px){
    /* Nav Bar */
.nav-bar {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: none;
    align-items: center;
}

.nav-bar > h1 {
    font-size: 30px;
    margin-left: 0;
    margin-top: 0;
    color: #ff305b;
}

.patty-container {
    display: none;
}

.full-screen-nav-list {
    width: 40%;
    display: flex;
    margin-left: 40%;
}

.full-screen-nav-list > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-screen-nav-list > ul > a {
    text-decoration: none;
}

.full-screen-nav-list > ul > a > li {
    color: white;
    font-size: 20px;
}

.full-screen-nav-list > ul > a :hover {
    color: #ff305b;
}
}