/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.footer-container {
    width: 100%;
    height: 80vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.footer-info-cont {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-name {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
}

.footer-name > h1 {
    color: #ff305b;
    font-size: 20px;
}

.footer-phone {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
}

.footer-phone > h1 {
    color: #ff305b;
    font-size: 20px;
}

.footer-email {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
}

.footer-email > h1 {
    color: #ff305b;
    font-size: 20px;
}

.footer-address {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
}

.footer-address > h1 {
    color: #ff305b;
    font-size: 20px;
}

.footer-links {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 2% 0;
}

.footer-links > a {
    margin: 0 4%;
    color: white;
}

.footer-links > a:hover {
    color: #ff305b;
}

@media (min-width: 1024px){
    .footer-container {
        width: 100%;
        height: 30vh;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
    }

    .footer-info-cont {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .footer-name {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 3% 0;
    }
    
    .footer-name > h1 {
        color: #ff305b;
        font-size: 20px;
    }

    .footer-name > h2 {
        margin-top: 3%;
    }
    
    .footer-phone {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 3% 0;
    }
    
    .footer-phone > h1 {
        color: #ff305b;
        font-size: 20px;
    }

    .footer-phone > h2 {
        margin-top: 3%;
    }
    
    .footer-email {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 3% 0;
    }
    
    .footer-email > h1 {
        color: #ff305b;
        font-size: 20px;
    }

    .footer-email > h2 {
        margin-top: 3%;
    }
    
    .footer-address {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 3% 0;
    }
    
    .footer-address > h1 {
        color: #ff305b;
        font-size: 20px;
    }

    .footer-address > h2 {
        margin-top: 3%;
    }
    
    .footer-links {
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: 4% 0;
    }

    .footer-links > a {
        margin: 0 4%;
        color: white;
    }

    .footer-links > a:hover {
        color: #ff305b;
        transform: scale(1.2);
        cursor: pointer;
    }
}