/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.project-two-container {
    width: 100%;
    height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.project-two-info {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-two-info > h1 {
    font-size: 30px;
    color: #1a1a1a;
    text-decoration-line: underline;
}

.project-two-info > h2 {
    font-size: 13px;
    color: #ff305b;
}

.project-two-info > p {
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 125%;
    margin: 0 5%;
}

.project-two-info > p > a {
    color: #ff305b;
}

.project-two-info > p > a:hover {
    color: #757575;
}

.project-two-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-two-links > a {
    color: #ff305b;
    font-size: 18px;
}

.project-two-links > a:hover {
    color: black;
    cursor: pointer;
}

.project-two-preview {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1024px){
    .project-two-container {
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .project-two-info {
        width: 45%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-two-preview {
        width: 45%;
        height: 48vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}