/* Asset Color */
/* #ff305b :PinkRed */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');


.App {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

canvas {
    position: absolute;
    top: 0; 
    left: 0;  
    max-width: 100%;
    max-height: 100vh;   
    z-index: 0;
    background-repeat: no-repeat;
}

/* Welcome Message */
.welcome-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35%;
}

.welcome-container > h1 {
    text-align: center;
    font-size: 35px;
    color: #ff305b;
    margin-top: 30%;
}

.welcome-container > h2 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

/* Down Arrow */
.arrow-down {
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    color: #ff305b;
    animation: enlarge 1s infinite;
}

/* Animations */
@keyframes dropDown {
    0% {height: 0}
    10% {height: 5vh}
    20% {height: 10vh}
    30% {height: 15vh}
    40% {height: 20vh}
    50% {height: 25vh}
    60% {height: 30vh}
    70% {height: 35vh}
    80% {height: 40vh}
    90% {height: 45vh}
    100% {height: 50vh}
}

@keyframes enlarge {
    from {font-size: 45px; margin-bottom: 2%}
    50% {font-size: 50px; margin-bottom: 1.5%}
    to {font-size: 55px; margin-bottom: 1%}
    100% {font-size: 60px; margin-bottom: .5%}
    to {font-size: 55px; margin-bottom: 1%}
    50% {font-size: 50px; margin-bottom: 1.5%}
    to {font-size: 45px; margin-bottom: 2%}
}

@keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: .5}
    70% {opacity: .8}
    100% {opacity: 1}
}


@media(min-width: 1024px){
    /* Nav Bar */
.nav-bar {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: none;
    align-items: center;
}

.nav-bar > h1 {
    font-size: 30px;
    margin-left: 0;
    margin-top: 0;
    color: #ff305b;
}

.patty-container {
    display: none;
}

.full-screen-nav-list {
    width: 40%;
    display: flex;
    margin-left: 40%;
}

.full-screen-nav-list > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-screen-nav-list > ul > a {
    text-decoration: none;
}

.full-screen-nav-list > ul > a > li {
    color: white;
    font-size: 20px;
}

.full-screen-nav-list > ul > a :hover {
    color: #ff305b;
}

/* Welcome Message */
.welcome-container {
    margin-top: 10%;
}

.welcome-container > h1 {
    text-align: center;
    font-size: 55px;
    color: #ff305b;
    margin-top: 15%;
}

.welcome-container > h2 {
    color: white;
    font-size: 35px;
    margin-top: 20px;
}

}


