/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.project-one-container {
    width: 100%;
    height: 120vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.project-one-info {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-one-info > h1 {
    font-size: 30px;
    color: white;
    text-decoration-line: underline;
}

.project-one-info > h2 {
    font-size: 13px;
    color: #ff305b;
}

.project-one-info > p {
    color: #757575;
    text-align: center;
    font-size: 14px;
    line-height: 125%;
    margin: 0 5%;
}

.project-one-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-one-links > a {
    color: #ff305b;
    font-size: 18px;
}

.project-one-links > a:hover {
    color: white;
    cursor: pointer;
}

.project-one-preview {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-one-phone {
    height: 95%;
    width: 75%;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px 10px 0 0;
    border-left: 2.5px solid gray;
    border-top: 2.5px solid gray;
    border-right: 2.5px solid gray;
}

.project-one-phone-top {
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.phone-camera {
    width: 7px;
    height: 7px;
    background-color: #313131;
    border-radius: 50%;
    margin-right: 2%;
}

.phone-speaker {
    width: 30%;
    height: 3px;
    background-color: #313131;
}

.project-one-phone > img {
    width: 98%;
    height: 79.8%;
    margin-left: 1%;
}

@media (min-width: 1024px){
    .project-one-container {
        width: 100%;
        height: 55vh;
        background-color: #252525;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .project-one-info {
        width: 45%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-one-preview {
        width: 45%;
        height: 48vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-one-phone {
        height: 100%;
        width: 60%;
        background-color: white;
        margin-top: 9.2%;
        border-radius: 10px 10px 0 0;
        border-left: 2.5px solid gray;
        border-top: 2.5px solid gray;
        border-right: 2.5px solid gray;
    }
}